@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');

h1, h2, h3, h4{
  font-family: Elsie, cursive;
  font-weight: 900;
}

html {
  background-color: #ffaa00;
  background-image: url("../images/liquid-cheese.svg");
  background-attachment: fixed;
  background-size: cover;
}
